artik_client/node-red_code.txt
[{"id":"98e499b.ff14768","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":"불 켜줘","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":80,"wires":[["38f2fd03.882852"]]},{"id":"38f2fd03.882852","type":"watson-conversation-v1","z":"a86db518.396648","name":"","workspaceid":"e2d0f89c-8278-41bd-9761-88a5cc766136","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"","x":350,"y":80,"wires":[["fc7227b6.23c448","39b571a9.f0528e"]]},{"id":"b0cef8f6.ad2e18","type":"tcp in","z":"a86db518.396648","name":"소켓","server":"server","host":"","port":"5555","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":90,"y":180,"wires":[["c064a0a1.61aa1","97d04107.f760e","4f207c02.39a224"]]},{"id":"c064a0a1.61aa1","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":330,"y":180,"wires":[]},{"id":"97d04107.f760e","type":"function","z":"a86db518.396648","name":"","func":"var flag = msg.payload.includes('모피') || msg.payload.includes('모비') || msg.payload.includes('모피') || msg.payload.includes('머피') || msg.payload.includes('뽀삐') || msg.payload.includes('오피') || msg.payload.includes('무비');\n\nif(flag)  \n{\n    context.global.flag = 1;\n    return ;  \n}\nelse if(!flag && context.global.flag == 1){\n    context.global.flag = 0;\n    return msg;       \n}\nelse {\n    return ; \n}\n   ","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["38f2fd03.882852"]]},{"id":"290117a5.f657c8","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":" 모피","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":300,"wires":[["97d04107.f760e","4f207c02.39a224"]]},{"id":"40aaaaa2.c00934","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":"주말 날씨","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":380,"wires":[["1ade74cf.a2941b"]]},{"id":"2c731285.dc3e7e","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":390,"y":500,"wires":[["d961865a.2efec8"]]},{"id":"d961865a.2efec8","type":"function","z":"a86db518.396648","name":"전역 변수 설정","func":"context.global.flag = 0;\ncontext.global.array = new Array();\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[[]]},{"id":"268fff3f.3d3d8","type":"artik_out","z":"a86db518.396648","name":"","pin":"28","platform":"7","state":"","enableInitialState":"","initialState":"","x":640,"y":340,"wires":[]},{"id":"4f207c02.39a224","type":"function","z":"a86db518.396648","name":"LED_ANSWER","func":"if(context.global.flag == 1){\n    msg.payload = {\n      state: 1\n  }\n  return msg;\n}\nelse {\n    msg.payload = {\n      state: 0\n  }\n  return msg;\n}","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["268fff3f.3d3d8","667c4668.8a2dd8"]]},{"id":"667c4668.8a2dd8","type":"artik_out","z":"a86db518.396648","name":"","pin":"38","platform":"7","state":"","enableInitialState":"","initialState":"","x":640,"y":380,"wires":[]},{"id":"fc7227b6.23c448","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":630,"y":40,"wires":[]},{"id":"3012fce6.069cc4","type":"http request","z":"a86db518.396648","name":"","method":"GET","ret":"txt","url":"https://weather.com/weather/tenday/l/KSXX0387:1:KS","tls":"","x":330,"y":600,"wires":[["5d316267.70e43c","136e601b.45bbf","69c5f64a.b380d8"]]},{"id":"5d316267.70e43c","type":"html","z":"a86db518.396648","name":"get index","tag":".description","ret":"text","as":"single","x":529.1110725402832,"y":650.0000457763672,"wires":[["a7f0feaf.c3c2b"]]},{"id":"82c23d59.fb82e","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":110,"y":600,"wires":[["3012fce6.069cc4"]]},{"id":"136e601b.45bbf","type":"html","z":"a86db518.396648","name":"get index","tag":".temp ","ret":"text","as":"single","x":531.1110725402832,"y":700.0000457763672,"wires":[["4993ff0.9f7c5"]]},{"id":"69c5f64a.b380d8","type":"html","z":"a86db518.396648","name":"get index","tag":".day-detail.clearfix","ret":"text","as":"single","x":529.1110725402832,"y":603.0000457763672,"wires":[["9c8c831b.d6d22"]]},{"id":"f30b96d.565d068","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":873.1110725402832,"y":654.0000457763672,"wires":[]},{"id":"ef0085b2.817478","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":900.1110725402832,"y":600.0000457763672,"wires":[]},{"id":"e07ed802.c27038","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":869.1110725402832,"y":704.0000457763672,"wires":[]},{"id":"9c8c831b.d6d22","type":"function","z":"a86db518.396648","name":"date","func":"var date = msg.payload;\n\nfor(var i=0;i<15;i++) {\n    \n    var mon = date[i].substring(0,3); \n   \n    if( mon == \"JAN \") {\n        date[i] = date[i].replace(\"JAN \",\"01-\");\n    }\n    else if( mon == \"FEB\" ){\n        date[i] = date[i].replace(\"FEB \",\"02-\");\n    }\n    else if( mon == \"MAR\" ){\n        date[i] = date[i].replace(\"MAR \",\"03-\");\n    }\n    else if( mon == \"APR\" ){\n        date[i] = date[i].replace(\"APR \",\"04-\");\n    }\n    else if( mon == \"MAY\" ){\n        date[i] = date[i].replace(\"MAY \",\"05-\");\n    }\n    else if( mon == \"JUN\" ){\n        date[i] = date[i].replace(\"JUN \",\"06-\");\n    }\n    else if( mon == \"JUL\" ){\n        date[i] = date[i].replace(\"JUL \",\"07-\");\n    }\n    else if( mon == \"AUG\" ){\n        date[i] = date[i].replace(\"AUG \",\"08-\");\n    }\n    else if( mon == \"SEP\" ){\n        date[i] = date[i].replace(\"SEP \",\"09-\");\n    }\n    else if( mon == \"OCT\" ){\n        date[i] = date[i].replace(\"OCT \",\"10-\");\n    }\n    else if( mon == \"NOV\" ){\n        date[i] = date[i].replace(\"NOV \",\"11-\");\n    }\n    else {\n        date[i] = date[i].replace(\"DEC \" ,\"12-\");\n    }\n}\n\ncontext.global.array[0] = date;\nreturn msg;","outputs":1,"noerr":0,"x":732.1110725402832,"y":602.0000457763672,"wires":[["ef0085b2.817478"]]},{"id":"a7f0feaf.c3c2b","type":"function","z":"a86db518.396648","name":"weather","func":"\n\nvar weather = msg.payload;\ncontext.global.array[1] = weather;\n\nreturn msg;","outputs":1,"noerr":0,"x":699.1110725402832,"y":649.0000457763672,"wires":[["f30b96d.565d068"]]},{"id":"4993ff0.9f7c5","type":"function","z":"a86db518.396648","name":"temp","func":"var temp = msg.payload;\ncontext.global.array[2] = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":692.1110725402832,"y":703.0000457763672,"wires":[["e07ed802.c27038"]]},{"id":"f57398c5.fcd388","type":"function","z":"a86db518.396648","name":"else","func":"msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":320,"wires":[["efc767f8.235908","c086ba67.11e538"]]},{"id":"39b571a9.f0528e","type":"switch","z":"a86db518.396648","name":"","property":"msg.payload.intents[0].intent\t","propertyType":"jsonata","rules":[{"t":"eq","v":"켜기_명령","vt":"str"},{"t":"eq","v":"끄기_명령","vt":"str"},{"t":"eq","v":"날씨_질문","vt":"str"},{"t":"eq","v":"색깔_변경","vt":"str"},{"t":"else"},{"t":"eq","v":"이야기_명령","vt":"str"},{"t":"eq","v":"노래_명령","vt":"str"},{"t":"eq","v":"이미지인식_질문","vt":"str"},{"t":"eq","v":"얼굴인식_질문","vt":"str"}],"checkall":"false","outputs":9,"x":610,"y":160,"wires":[["6ff0f0cd.be893"],["80cc39a9.b99db8"],["788af23d.e82a0c"],["9d1ec35a.14573"],["f57398c5.fcd388"],["c2f68fac.14d8b"],["49d21280.784c8c"],["1262a8da.3e36d7"],["ed1ffd0c.59b39"]]},{"id":"6ff0f0cd.be893","type":"switch","z":"a86db518.396648","name":"appliance","property":"msg.payload.entities[0].value\t","propertyType":"jsonata","rules":[{"t":"eq","v":"조명","vt":"str"}],"checkall":"false","outputs":1,"x":860,"y":60,"wires":[["e8689854.a33ce8"]]},{"id":"80cc39a9.b99db8","type":"switch","z":"a86db518.396648","name":"appliance","property":"msg.payload.entities[0].value\t","propertyType":"jsonata","rules":[{"t":"eq","v":"조명","vt":"str"}],"checkall":"false","outputs":1,"x":860,"y":100,"wires":[["84828435.316348"]]},{"id":"e8689854.a33ce8","type":"function","z":"a86db518.396648","name":"philips hue lamp on","func":"msg.payload={\n\t\"on\":[true],\n\t\"bri\":[255],\n\t\"rgb\":[255,255,255]\n};\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":60,"wires":[["6e46c819.1c1318","16ec66db.c18249"]]},{"id":"84828435.316348","type":"function","z":"a86db518.396648","name":"philips hue lamp off","func":"msg.payload={\n\t\"on\":[false],\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":101,"wires":[["6e46c819.1c1318"]]},{"id":"788af23d.e82a0c","type":"switch","z":"a86db518.396648","name":"weather","property":"msg.payload.output.text[0]","propertyType":"jsonata","rules":[{"t":"eq","v":"오늘","vt":"str"},{"t":"eq","v":"지금","vt":"str"},{"t":"eq","v":"현재","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":860,"y":160,"wires":[["83c907fd.afcd48"],["83c907fd.afcd48"],["83c907fd.afcd48"],["66a26197.534ed"]]},{"id":"efc767f8.235908","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":1410,"y":440,"wires":[]},{"id":"83c907fd.afcd48","type":"openweathermap","z":"a86db518.396648","name":"","wtype":"current","lon":"","lat":"","city":"Busan","country":"KR","language":"en","x":1130,"y":260,"wires":[["bc609d8f.27952"]]},{"id":"6e46c819.1c1318","type":"Hue Set","z":"a86db518.396648","deviceid":"2","serverid":"001788fffe1c9bba","name":"Lamp1","x":1350,"y":180,"wires":[["2ad1d52.727e12a"],[]]},{"id":"2ad1d52.727e12a","type":"Hue Pull","z":"a86db518.396648","deviceid":"2","serverid":"001788fffe1c9bba","name":"Lamp1","x":1490,"y":140,"wires":[[],[]]},{"id":"bc609d8f.27952","type":"function","z":"a86db518.396648","name":"","func":"if(msg.payload.weather ==\"Clouds\"){\n    msg.payload.weather = \"흐림\";\n}\nelse if(msg.payload.weather ==\"Clear\"){\n     msg.payload.weather = \"맑음\";\n}\nelse if(msg.payload.weather ==\"Rain\"){\n     msg.payload.weather = \"비\";\n}\nelse {\n}\n\nvar str = \"오늘은 \" +msg.payload.weather + \"이고, 현재 기온은 \"+msg.payload.tempc + \"도 입니다.\"\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":260,"wires":[["efc767f8.235908","c086ba67.11e538"]]},{"id":"127a204b.54c5f","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":1404,"y":366,"wires":[]},{"id":"66a26197.534ed","type":"function","z":"a86db518.396648","name":"weahter","func":"var date = context.global.array[0];\nvar weather = context.global.array[1];\nvar temp = context.global.array[2];\n\nvar k;\n\nvar day = msg.payload.entities[0].value;\nday = day.substring(5,10);\n\n\nfor(var i=0;i<15;i++) {\n    if(date[i] == day){\n        k = i+1;\n        break;    \n    }\n}\n\nvar temp2 = temp[k].substring(0,2);\ntemp2 = Number(temp2);\ntemp2 = Math.round((temp2-32)/1.8);\n\nvar weather2;\nif(weather[k] == 'Mostly Sunny'){\n    weather2 = '대체로 맑음';\n}\nelse if(weather[k] == 'Sunny'){\n    weather2 = '맑음';\n}\nelse if(weather[k] == 'Clear'){\n    weather2 = '맑음';\n}\nelse if(weather[k] == 'Rain'){\n    weather2 = '비';\n}\nelse if(weather[k] == 'Partly Cloud'){\n    weather2 = '구름 조금';\n}\nelse if(weather[k] == 'Showers'){\n    weather2 = '소나기';\n}\nelse if(weather[k] == 'PM Rain'){\n    weather2 = '오후에 비';\n}\nelse if(weather[k] == 'AM Showers'){\n    weather2 = '오전에 소나기';\n}\nelse {기\n    weather2 = weather[k];\n}\n\nmsg.payload = msg.payload.output.text[0]+\"은 \"+ weather2 + \"이고 \" + \"기온은 \" + temp2 + \"도 입니다.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":300,"wires":[["127a204b.54c5f","c086ba67.11e538"]]},{"id":"9d1ec35a.14573","type":"switch","z":"a86db518.396648","name":"색깔 종류","property":"msg.payload.entities[0].value\t","propertyType":"jsonata","rules":[{"t":"eq","v":"초록색","vt":"str"},{"t":"eq","v":"파란색","vt":"str"},{"t":"eq","v":"빨간색","vt":"str"}],"checkall":"true","outputs":3,"x":860,"y":220,"wires":[["3bf8ca09.7a8436"],["caa234aa.c788b8"],["6b145bb7.eb4b54"]]},{"id":"3bf8ca09.7a8436","type":"function","z":"a86db518.396648","name":"set_color","func":"msg.payload={\n\t\"rgb\":[0, 255, 0],\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":160,"wires":[["6e46c819.1c1318"]]},{"id":"caa234aa.c788b8","type":"function","z":"a86db518.396648","name":"set_color","func":"\n\nmsg.payload={\n\t\"rgb\": [0, 0, 255],\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":180,"wires":[["6e46c819.1c1318"]]},{"id":"6b145bb7.eb4b54","type":"function","z":"a86db518.396648","name":"set_color","func":"msg.payload={\n\t\"rgb\": [255, 0, 0],\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1101,"y":201,"wires":[["6e46c819.1c1318","16ec66db.c18249"]]},{"id":"16ec66db.c18249","type":"debug","z":"a86db518.396648","name":"","active":true,"console":"false","complete":"payload","x":1370,"y":60,"wires":[]},{"id":"d2579e6e.ff5e2","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":"모레 날씨","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":420,"wires":[["1ade74cf.a2941b"]]},{"id":"1ade74cf.a2941b","type":"function","z":"a86db518.396648","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["4f207c02.39a224","97d04107.f760e"]]},{"id":"afc6f4ba.800448","type":"inject","z":"a86db518.396648","name":"","topic":"","payload":"안녕","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":460,"wires":[["1ade74cf.a2941b"]]},{"id":"c086ba67.11e538","type":"tcp out","z":"a86db518.396648","host":"","port":"5555","beserver":"reply","base64":false,"end":false,"name":"","x":1180,"y":480,"wires":[]},{"id":"c2f68fac.14d8b","type":"function","z":"a86db518.396648","name":"이야기","func":"msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["c086ba67.11e538"]]},{"id":"49d21280.784c8c","type":"function","z":"a86db518.396648","name":"노래","func":"msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["c086ba67.11e538"]]},{"id":"1262a8da.3e36d7","type":"function","z":"a86db518.396648","name":"이미지인식","func":"msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["c086ba67.11e538"]]},{"id":"ed1ffd0c.59b39","type":"function","z":"a86db518.396648","name":"얼굴인식","func":"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["c086ba67.11e538"]]}]
